bcrypt
beautifulsoup4
blinker
cffi
click
cryptography
deepface
dlib
face-recognition
face_recognition_models
Flask
flask-cors
gdown
gunicorn
h5py
Jinja2
joblib
keras
loguru
matplotlib
mediapipe
mtcnn
numpy
opencv-contrib-python
openpyxl
pandas
pillow
protobuf
pydantic
python-dotenv
requests
retina-face
scikit-learn
scipy
setuptools
six
tensorflow
Werkzeug
wheel